<div class="app-content">
    <div class="app-content-header"></div>
    <div class="app-content-body">
        <div class="app-content-body-main">
            <div class="app-content-body-main-item-holder">
                <div class="app-content-body-main-item" *ngFor="let item of items">
                    <div class="app-content-body-main-item-pic-container">
                        <img class="app-content-body-main-item-pic" [attr.src]="item.picture" />
                    </div>
                    <div class="app-content-body-main-item-text-container">
                        <a class="app-content-body-main-item-text-link" [attr.href]="item.link">{{item.link}}</a>
                        <label class="app-content-body-main-item-text-upper">{{item.text}}</label>
                        <label class="app-content-body-main-item-text-lower">submitted 4 hours ago by <a>{{item.author?.name}}</a></label>
                    </div>
                    <div class="app-content-body-main-item-actions-container">
                        <div class="app-content-body-main-item-actions-menu">
                            <i class="fa fa-ellipsis-v"></i>
                        </div>
                        <div class="app-content-body-main-item-actions-rating">
                            <i class="fa fa-caret-up top"></i>
                            <span>{{item.rating}}</span>
                            <i class="fa fa-caret-down down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>