<div class="app-content">
    <div class="app-content-watermark">
        For illustration purpose only
    </div>
    <div class="app-content-header">
        <div class="pull-left">
            <label class="app-content-header-category">{{currentCategory}}</label>
            <div ngbDropdown class="d-inline-block app-content-header-duration-switcher">
                <button class="btn btn-outline-primary app-content-header-duration-switcher-toggle" id="dropdownBasic1" ngbDropdownToggle>{{selectedDuration.viewValue}}</button>
                <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" *ngFor="let item of durations" (click)="selectedDuration = item;">{{item.viewValue}}</button>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <div class="app-content-header-new">
                <i class="fa fa-link"></i> New Link
            </div>
            <div class="app-content-header-new">
                <i class="fa fa-file-text-o"></i> New Post
            </div>
            <div class="app-content-header-search-container">
                <i class="fa fa-search"></i>
                <input class="app-content-header-search" placeholder="keyword, tokens, categories" />
            </div>
            <div class="app-content-header-sublinks-container">
                <div ngbDropdown class="d-inline-block app-content-header-sublinks">
                    <button class="btn btn-outline-primary app-content-header-sublinks-toggle" id="dropdownBasic3" ngbDropdownToggle>My Subreddits</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownBasic3">
                        <button class="dropdown-item" *ngFor="let item of subreddits" (click)="launchSubReddit(item)">{{item}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-content-body">
        <div class="app-content-body-ad" [attr.id]="mainAd">
            <div class="app-content-body-ad-inner">
                <div class="app-content-body-ad-inner-watermark">sponsored</div>
                <div class="app-content-body-ad-inner-dismiss" (click)="dismissAd()">
                    <i class="fa fa-close"></i>
                </div>
            </div>
        </div>
        <div class="app-content-body-main" data-tag="items-scroller">
            <div class="app-content-body-main-item-holder" data-tag="items-holder"></div>
        </div>
    </div>
</div>