    @import '../mixins';
 
    $app-logo-fill: #e74c3c;
    
    .app {
        height: 100vh;
        width: 100%;
        overflow: hidden;
    
        &-loader {
            position: absolute;
            z-index: 9999;
            top:0;
            left: 0;
            background-color: $app-logo-fill;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &-inner {
                svg {
                    path {
                        &.eyes {
                            fill: $app-logo-fill;
                        }
                    }
                    g{

                        @keyframes loader-leg-left-anim {
                            10% {
                                transform: rotate(0deg);
                            }
                            20%{
                                transform: rotate(-25deg);
                            }
                            30%{
                                transform: rotate(0deg);
                            }
                            40%{
                                transform: rotate(0deg);
                            }
                            50%{
                                transform: rotate(-50deg);
                            }
                            60%{
                                transform: rotate(0deg);
                            }
                            100%{
                                transform: rotate(0deg);
                            }
                        }

                        @keyframes loader-leg-right-anim {
                            10% {
                                transform: rotate(0deg);
                            }
                            20%{
                                transform: rotate(25deg);
                            }
                            30%{
                                transform: rotate(0deg);
                            }
                            40%{
                                transform: rotate(0deg);
                            }
                            50%{
                                transform: rotate(50deg);
                            }
                            60%{
                                transform: rotate(0deg);
                            }
                            100%{
                                transform: rotate(0deg);
                            }
                        }

                        &[data-tag="loader-leg-left"]{
                            transform-origin: top right;
                            transform: rotate(0deg);
                            animation: loader-leg-left-anim 2s linear infinite;
                        }
                        &[data-tag="loader-leg-right"]{
                            transform-origin: top left;
                            transform: rotate(0deg);
                            animation: loader-leg-right-anim 2s linear infinite;
                        }
                    }
                }
            }
        }

        &-drawer{
            opacity: 0;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-flow: row;
            z-index: 1;
            position: relative;
            display: none;

            &-nav{
                flex: initial;
                width:300px;
                order: 1;
                background:#fff;
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.10);
                position: relative;
                z-index: 3;
                height: 100%;
                &-bg{
                    position: absolute;
                    z-index: 2;
                    display: none;
                    @include respond-to-desktop() {
                        display: block;
                        width:100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.75);
                    }
                }
                &.expanded{
                    @include respond-to-desktop() {
                        position: absolute;
                    }
                }

                &.collapsed{
                    width: 48px;
                    @include respond-to-desktop() {
                        width: 0;
                    }
                }
            }
            &-content{
                flex: 1;
                order: 2;
                background: #f3f3f3;
                position: relative;
                z-index: 1;
                height: 100%;
                min-width: 0;
            }
        }
    }